asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
defusedxml==0.7.1
dj-database-url==3.0.1
Django==5.2.4
django-filter==25.1
djangorestframework==3.16.0
filelock==3.18.0
fsspec==2025.7.0
git-filter-repo==2.47.0
gunicorn==23.0.0
httpie==3.2.4
huggingface-hub==0.34.3
idna==3.10
Markdown==3.8.2
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.6.3
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
Pygments==2.19.2
PySocks==1.7.1
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
setuptools==80.9.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
